<nav class="dt dt--fixed w-100 overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
  <!--  LEFT PADDING TO CENTER LOGO  WHEN COLLAPSED -->
  <div class="dtc dn-ns w-third"></div>
  
  <!--  LOGO  -->
  <a class="dtc v-mid mid-gray link dim w-third w-25-ns tc tl-ns mb2 mb0-ns" href="#" title="Home">
    <img src="/img/logo.svg" class="dib br0 db mb0 w-100" alt="Conquer Termites logo">
  </a>
  
  <!-- LINKS / MENU  -->
<div class="nowrap overflow-x-auto">
    <a class="link dim gray f5 f4-ns dib mr3" href="/" title="Link 1">Home</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/about" title="About">About</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/pest-inspections" title="Pest Inspections">Pest Inspections</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/found-termites" title="Pest Inspections">Found Termites</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/pest-control" title="Pest Control">Pest Control</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/3-step-process" title="3-step-process">3 Step Process</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/best-termite-inspection-who-to-call-on-the-gold-coast" title="3-step-process">Best Termite Inspection Gold Coast</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/best-way-to-treat-your-home-for-termites-white-ants" title="Best Way To Treat Your Home For Termites">Best Way To Treat Your Home For Termites White Ants</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/concrete-slab-cut-out-protection" title="Concrete Slab Cut Out Protection">Concrete Slab Cut Out Protection</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/general-pest-control-package" title="General Pest Control Package">General Pest Control Package</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/how-is-a-termite-inspection-done" title="How Is A Termite Inspection Done">How Is A Termite Inspection Done</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/how-long-does-a-termite-inspection-take" title="How Long Does A Termite Inspection Take">How Long Does A Termite Inspection Take</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/invasive-inspection-for-termites" title="Invasive Inspection For Termites">Invasive Inspection For Termites</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/pre-construction-treatments" title="Pre Construction Treatments">Pre Construction Treatments</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/pre-purchase-inspection-timber-pest-inspection" title="Pre Purchase Timber Inspections">Pre Purchase Timber Inspections</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/signs-of-termites" title="Signs of Termites">Signs of Termites</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/specialised-pest-control-treatments" title="Specialised Pest Control">Specialised Pest Control</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termite-inspection-cost-on-the-gold-coast" title="Termite Inspection on The Gold Coast">Termite Inspection on The Gold Coast</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termite-treatment-cost-on-the-gold-coast" title="Termite Treatment on The Gold Coast">Termite Treatment on The Gold Coast</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termites-in-the-garden" title="Termites in The Garden">Termites in The Garden</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termites-in-trees-and-stumps" title="Termites In Trees and Stumps">Termites In Trees and Stumps</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/what-devices-are-used-for-a-termite-inspection" title="What Devices Are Used For A Termite Inspection">What Devices Are Used For A Termite Inspection</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/what-do-termites-look-like" title="What Do Termites Look Like?">What Do Termites Look Like?</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/what-is-the-best-termite-control-treatment-barrier" title="What is the Best Treatment Barrier?">What is the Best Treatment Barrier?</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/where-do-termites-come-from" title="Where do Termites Come From?">Where do Termites Come From?</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/post" title="Articles">Articles</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/contact" title="Articles">Contact</a>
  </div>
</nav>

