<nav class="dt dt--fixed w-100 overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
  <!--  LEFT PADDING TO CENTER LOGO  WHEN COLLAPSED -->
  <div class="dtc dn-ns w-third"></div>
  
  <!--  LOGO  -->
  <a class="dtc v-mid mid-gray link dim w-third w-25-ns tc tl-ns mb2 mb0-ns" href="#" title="Home">
    <img src="/img/logo.svg" class="dib br0 db mb0 w-100" alt="Conquer Termites logo">
  </a>
  
  <!-- LINKS / MENU  -->
<div class="nowrap overflow-x-auto">
    <a class="link dim gray f5 f4-ns dib mr3" href="/" title="Link 1">Home</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/about" title="About">About</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/pest-inspections" title="Pest Inspections">Pest Inspections</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/found-termites" title="Pest Inspections">Found Termites</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termite-treatments" title="Termite Treatments">Termite Treatments</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/pest-control" title="Pest Control">Pest Control</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/3-step-process" title="3-step-process">3 Step Process</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/best-termite-inspection-who-to-call-on-the-gold-coast" title="3-step-process">Best Termite Inspection Gold Coast</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/best-way-to-treat-your-home-for-termites-white-ants" title="Best Way To Treat Your Home For Termites">Best Way To Treat Your Home For Termites White Ants</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/concrete-slab-cut-out-protection" title="Concrete Slab Cut Out Protection">Concrete Slab Cut Out Protection</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/general-pest-control-package" title="General Pest Control Package">General Pest Control Package</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/how-is-a-termite-inspection-done" title="How Is A Termite Inspection Done">How Is A Termite Inspection Done</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/how-long-does-a-termite-inspection-take" title="How Long Does A Termite Inspection Take">How Long Does A Termite Inspection Take</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/invasive-inspection-for-termites" title="Invasive Inspection For Termites">Invasive Inspection For Termites</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/pre-construction-treatments" title="Pre Construction Treatments">Pre Construction Treatments</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/pre-purchase-inspection-timber-pest-inspection" title="Pre Purchase Timber Inspections">Pre Purchase Timber Inspections</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/signs-of-termites" title="Signs of Termites">Signs of Termites</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/specialised-pest-control-treatments" title="Specialised Pest Control">Specialised Pest Control</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termite-inspection-cost-on-the-gold-coast" title="Termite Inspection on The Gold Coast">Termite Inspection on The Gold Coast</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termite-treatment-cost-on-the-gold-coast" title="Termite Treatment on The Gold Coast">Termite Treatment on The Gold Coast</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termites-in-the-garden" title="Termites in The Garden">Termites in The Garden</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/termites-in-trees-and-stumps" title="Termites In Trees and Stumps">Termites In Trees and Stumps</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/what-devices-are-used-for-a-termite-inspection" title="What Devices Are Used For A Termite Inspection">What Devices Are Used For A Termite Inspection</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/what-do-termites-look-like" title="What Do Termites Look Like?">What Do Termites Look Like?</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/what-is-the-best-termite-control-treatment-barrier" title="What is the Best Treatment Barrier?">What is the Best Treatment Barrier?</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/where-do-termites-come-from" title="Where do Termites Come From?">Where do Termites Come From?</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/post" title="Articles">Articles</a>
    <a class="link dim gray f5 f4-ns dib mr3" href="/contact" title="Articles">Contact</a>
  </div>
</nav>


<div class="navbar">
    <a href="/" title="Home">
    <img src="/img/logo.svg" class="dib w2 h2 br-100" alt="Site Name">
  </a>
  <a href="#home">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Pest Inspections
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/how-is-a-termite-inspection-done" title="How Is A Termite Inspection Done">How Is A Termite Inspection Done</a>
      <a href="/what-devices-are-used-for-a-termite-inspection" title="What Devices Are Used For A Termite Inspection">What Devices Are Used For A Termite Inspection</a>
      <a href="#">Pre Purchase Inspection</a>
      <a href="/termite-treatment-cost-on-the-gold-coast" title="Termite Treatment on The Gold Coast">Termite Treatment on The Gold Coast</a>
      <a href="#">Conquer Termites’ Digital Report</a>
      <a href="#">How Often Should You do a Termite Inspection</a>
      <a href="#">Five Points to consider when Choosing a Termite Inspection Company</a>
      <a href="#">Who to call for a Termite Inspection on the Gold Coast</a>
      <a href="#">Consumer Warnings about Termite Inspections on the Gold Coast</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Found Termites
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/3-step-process" title="3-step-process">How to Remove Termites – The Three Steps</a>
      <a href="/what-do-termites-look-like" title="What Do Termites Look Like?">What Do Termites Look Like?</a>
      <a href="/signs-of-termites" title="Signs of Termites">What are the Signs of Termites</a>
      <a href="/where-do-termites-come-from" title="Where do Termites Come From?">Where do Termites Come From?</a>
      <a href="#">Difference between Termites and Black Ants</a>
      <a href="/termites-in-trees-and-stumps" title="Termites In Trees and Stumps">Termites In Trees and Stumps</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Additional Termite Info
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">When are Termites most active on the Gold Coast</a>
      <a href="#">Flying Termites on the Gold Coast</a>
      <a href="#">Is my house safe from Termites if it is made from Hardwood?</a>
      <a href="#">What kind of Wood do Termites Like?</a>
      <a href="#">Common Myths about Termites</a>
      <a href="#">Are Termites a big issue on the Gold Coast</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Termite Treatment Control
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/what-is-the-best-termite-control-treatment-barrier">What is the Best Termite Treatment on the Gold Coast</a>
      <a href="/termite-treatment-cost-on-the-gold-coast">Termite Treatment Cost on the Gold Coast</a>
      <a href="#">Best Chemical for Termite Treatments</a>
      <a href="#">How Often should a Termite Treatment be done?</a>
      <a href="/baiting-programs-systems">Termite Baiting on the Gold Coast</a>
      <a href="/pre-construction-treatments">Pre-construction Termite Protection on the Gold Coast</a>
      <a href="#">Visual Inspection Zone for Termites</a>
      <a href="/concrete-slab-cut-out-protection">Concrete Slab Cut Out Protection</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Pest Control
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">How do we do a General Pest Control</a>
      <a href="#">Specialised Pest Treatments</a>
      <a href="#">Is the Pest Control Treatment safe for my family and pets</a>
      <a href="#">Do I need to leave during the Pest Control?</a>
      <a href="#">How long does a Pest Control treatment take?</a>
    </div>
  </div>
  <a href="/post" title="Articles">Articles</a>
  <a href="/contact" title="Articles">Contact</a>
</div>