<nav class="dt dt--fixed w-100 overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
  <!--  LEFT PADDING TO CENTER LOGO  WHEN COLLAPSED -->
  <div class="dtc dn-ns w-third"></div>
  
  <!--  LOGO  -->
  <a class="dtc v-mid mid-gray link dim w-third w-25-ns tc tl-ns mb2 mb0-ns" href="#" title="Home">
    <img src="/img/logo.svg" class="dib br0 db mb0 w-100" alt="Conquer Termites logo">
  </a>
  
  <!-- LINKS / MENU  -->
  <div id="menu" class="static-ns absolute mt5 flex b ct-purple left-100 db">
    <a class="link dim pa3 no-underline db" href="/" title="Home">Home</a>
    <a class="link dim pa3 no-underline db" href="/about" title="About">About</a>
    <a class="link dim pa3 no-underline db" href="/pest-inspections" title="Pest Inspections">Pest Inspections</a>
    <a class="link dim pa3 no-underline db" href="/found-termites" title="Pest Inspections">Found Termites</a>
    <a class="link dim pa3 no-underline db" href="/found-termites" title="Pest Control">Pest Control</a>
    <a class="link dim pa3 no-underline db" href="/post" title="Articles">Articles</a>
    <a class="link dim pa3 no-underline db" href="/contact" title="Contact">Contact</a>
  </div>
  
  <!--  EXPAND MENU BUTTON  -->
  <a href="#" id="menu-btn" class="dtc tr v-mid dn-ns w-third pr2 p0-ns link dim dark-gray">
    Menu
  </a>
</nav>

