{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/gold-coast.jpg" "title" "Articles") }}
{{/* partial "metadata.html" . */}}

<div class="center mw8 pv3">
  <ul id="blog-list" class="flex-ns flex-wrap mhn1-ns pa3" style="justify-content: center;">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <li class="w-40-ns ph1-ns flex" style="margin-bottom: 2rem;">
            {{ .Render "li"}}
          </li>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
